# Variables y tipos de datos
**Variable:** Consta de un espacio en la memoria y uns ímbolo (nombre de la variable, identificador) que está asociado a dicho espacio.

Asignamos los datos sin indicar de qué tipo son. Tipos de datos:
* ``int`` $\longrightarrow$ Números enteros
* ``float``  $\longrightarrow$ Números decimales
* ``str``  $\longrightarrow$ Cadena de caracteres
* ``bool``  $\longrightarrow$ True/false

In [9]:
# Tipo de datos entero (int)
a = 1 + 3
a

4

In [10]:
# tipo de tado cadena de caracteres (str)
b = 'Naylamp'
b

'Naylamp'

In [11]:
# Tipo de dato decimal (float)
c = 2.0908989868
c

2.0908989868

In [12]:
# Tipos de datos de las variables a, b y c
type(a), type(b), type(c)

(int, str, float)

<div class="alert alert-block alert-warning">
    <b>Nota:</b> Para referirnos a números del tipo float, basta que añadamos un punto decimal. Por ejemplo 3 (int) 3. (float), ambos representan el mismo número
</div>

<div class="alert alert-block alert-warning">
    <b>Nota:</b> Operaciones básicas usamos (+) (-) (*) (/) (**)
</div>

## Variable string
**string:** Cadena ordenada de caracteres

Podemos crear un ``string`` usando ``' '`` o ``" "``

In [14]:
# Usando comillas simples ' '
string_1 = 'Variable tipo string, con comillas simples'
string_1

'Variable tipo string, con comillas simples'

In [15]:
# Usando comillas dobles " "
string_2 = "Variable tipo string, con comillas dobles"
string_2

'Variable tipo string, con comillas dobles'

In [17]:
type(string_1), type(string_2)

(str, str)

### Comillas dentro de un string

In [21]:
#Usaremos comillas simples para crear un str y comilla doble para representar las comillas dentro del str
primera_forma = 'usaremos "comillas dobles" dentro de un string' 
primera_forma

'usaremos "comillas dobles" dentro de un string'

In [23]:
#Usaremos comillas dobles para crear un str y comilla simple para representar las comillas dentro del str
segunda_forma = "usaremos 'comillas simples' dentro de un string"
segunda_forma

"usaremos 'comillas simples' dentro de un string"

In [26]:
# Forzaremos las comillas (simples o dobles) en un str anteponiendo backslash (\)
tercera_forma = 'hola \"Carlos\"'
tercera_forma

'hola "Carlos"'

In [26]:
comillas_textos_2 = 'hola "Carlos"'
comillas_textos_2

'hola "Carlos"'

### print y format

In [27]:
a = 'hola'
a

'hola'

In [28]:
# Imprimimos el valor de la variable a, en pantalla
print(a)

hola

In [31]:
nombre = 'Carlos Rondan'
edad = 22

print('Mi nombre es ', nombre,'y mi edad es', edad, 'años')

Mi nombre es  Carlos Rondan y mi edad es 22 años

In [32]:
print('Mi nombre es {} y mi edad es {} años'.format(nombre, edad))

Mi nombre es Carlos Rondan y mi edad es 22 años

### substrings

In [35]:
substring = 'Python'

La cadena de texto ``'Python'`` tiene la siguiente indexación:

``
 P  y  t  h  o  n
 0  1  2  3  4  5
-6 -5 -4 -3 -2 -1
``

In [36]:
# Si queremos extraer la letra 't' debemos usar la indexación 2 o -4
substring[2], substring[-4]

('t', 't')

Recorre la cadena de texto ``substring`` desde la posición 2 hasta la posición 4

In [60]:
substring[2:6] #Estamos extrayendo los caracteres de index 2,3,4,5

'thon'

In [62]:
substring[:-2] #Estamos extrayendo los caracteres desde la izquierda, hasta una posición menos a la -2

'Pyth'

In [63]:
substring[2:] #Extraemos los caracteres desde la posición 2(t) hasta culminar la cadena de caracteres

'thon'

## Métodos para trabajar con string

In [52]:
a = 'APREnDERÁS PYTHOn con Naylamp   '

El método ``.lower()`` sirve para poner en minuscula toda la cadena de caracteres

In [70]:
a.lower()

'aprenderás python con naylamp   '

El método ``.upper()`` sirve para poner en maypuscua toda la cadena de caracteres

In [71]:
a.upper()

'APRENDERÁS PYTHON CON NAYLAMP   '

El método ``.count()`` se usa para contabilidar una o un conjutno de caracteres que se encuentren en el string

In [72]:
a.count('P')

2

El método ``.capitalize()`` convierte la primera letra en mayúscula y las restantes en mínuscula

In [73]:
a.capitalize()

'Aprenderás python con naylamp   '

El método ``.title()`` es usado para convertir en mayúscula la primera letra de cada palabras, y las restantes en minúscul

In [74]:
a.title()

'Aprenderás Python Con Naylamp   '

El método ``.replace()`` tiene dos parámetros. El primero es **la cadena de texto a remplazar** y el segundo es el **nuevo texto**

In [75]:
a.replace('PYTHOn','R')

'APREnDERÁS R con Naylamp   '

El método ``.split()`` divide un string y los almacena como elementos en una lista

In [76]:
a.split()

['APREnDERÁS', 'PYTHOn', 'con', 'Naylamp']

El método ``.find()`` sirve para buscar una sub cadena de texto de una string

In [77]:
a.find('E'), a.index('E')

(3, 3)

la función ``len()`` contabiliza los caracteres de un string

In [79]:
len(a)

32

## Ejemplito
### Ejemplo 1

In [71]:
edad = input()

22

In [72]:
type(edad)

str

In [80]:
nombre = input('Mi nombre es : ')
edad = int(input('Mi edad es: '))

Mi nombre es : Carlos rondan Poma
Mi edad es: 22

In [80]:
print('La edad de {} es {}.'.format(nombre,edad))

La edad de Carlos Rondan es 22.

### ejemplo 2
Calcular el índice de masa corporal $IMC = \frac{Peso}{altura^{2}}$

In [82]:
nombre = input('Nombre del usuario: ')
peso = int(input('el peso es: '))
altura = float(input('Mi talla es: '))
IMC = peso / (altura**2)

Nombre del usuario: Carlos Rondan Poma
el peso es: 80
Mi talla es: 1.70

In [89]:
print('El usuario \"{}\" con peso {} kg y altura {} metros tiene un IMC igual a {} '.format(nombre,
                                                                                           peso,
                                                                                           altura,
                                                                                           round(IMC,5)))

El usuario "Carlos Rondan Poma" con peso 80 kg y altura 1.7 metros tiene un IMC igual a 27.68166

La función ``round(numero, cantidad de decimales)`` sirve para redondear un número decimal

In [94]:
round(IMC, 3)

27.682

<div class="alert alert-block alert-warning">
    <b>Nota:</b> Python tiene como tipo de dato a los números completos (complex)
</div>

La correcta sintaxis de un número complejo es:``a + bj``.

Donde :
-   ``a`` es la parte real de un número complejo
-   `b` es la parte imaginaria del número complejo
-   `j` es el número imaginario $j = i = \sqrt{-1}$

In [99]:
complejos = (1 + 3j)*(1-2j)

In [100]:
complejos

(7+1j)

# Creación de listas
Lista: Colección de elementos de cualquier tipo

In [101]:
lista_1 = [10,10.2,'carlos',[1,2]]
lista_1

[10, 10.2, 'carlos', [1, 2]]

In [96]:
type(lista_1)

list

In [97]:
lista_1[0]

10

In [98]:
lista_1[1:3]

[10.2, 'carlos']

##  Cómo añadir o quitar valores de una lista

In [104]:
lista = ['hola', 3] +lista_1 + ['hola', 3]
lista

['hola', 3, 10, 10.2, 'carlos', [1, 2], 'hola', 3]

In [105]:
lista.append(2)

In [106]:
lista

['hola', 3, 10, 10.2, 'carlos', [1, 2], 'hola', 3, 2]

In [107]:
lista.insert(2,'aquí estoy, mirame plis')

In [109]:
lista

['hola',
 3,
 'aquí estoy, mirame plis',
 10,
 10.2,
 'carlos',
 [1, 2],
 'hola',
 3,
 2]

In [110]:
lista.remove(3)

In [111]:
lista

['hola', 'aquí estoy, mirame plis', 10, 10.2, 'carlos', [1, 2], 'hola', 3, 2]

## Crear nuevas listas

In [112]:
x = [1,2,3]
x

[1, 2, 3]

In [113]:
y = x
y

[1, 2, 3]

In [114]:
y[1] = 100

In [117]:
x, y

([1, 100, 3], [1, 100, 3])

In [118]:
x = [1,2,3]
x

[1, 2, 3]

In [119]:
z = list(x)

In [120]:
z[1] = 100

In [121]:
x, z

([1, 2, 3], [1, 100, 3])

# Funciones

``
def nombre_funcion(arg1,arg2):
    codigo
    return resultado
``

In [144]:
def primera_funcion(base, exponente):
    res = base ** exponente
    return res

In [145]:
primera_funcion(2,3)

8

<div class="alert alert-block alert-warning">
    <b>Nota:</b> ES posible tener argumentos flexibles o numeros de parámetro no determinados
</div>

In [157]:
def flexible(*args):
    mult_todos = 1
    for n in args:
        mult_todos = mult_todos * n
    
    return mult_todos

In [158]:
flexible(1)

1

In [164]:
flexible(3,2)

6

In [171]:
mi_primera_funcion = lambda base, exponente: base** exponente

In [170]:
mi_primera_funcion(2,3)

8

<div class="alert alert-block alert-info">
    <b>map:</b> map(funcion, secuencua)
</div>

In [174]:
lista = [4,5,2,10,2020110201202]
lista_cuadrado = map(lambda x: x**3,lista)
list(lista_cuadrado)

[64, 125, 8, 1000, 8243757068549748545803398133939054408]

## ejemplito
Convertir una lista de precios dólares a precios euros

In [163]:
precios_dolar = [10.82, 11.95, 14.49, 23.89]
precios_dolar

[10.82, 11.95, 14.49, 23.89]

In [175]:
precios_euros = map(lambda x: x/1.1 , precios_dolar)

In [176]:
list(precios_euros)

[9.836363636363636, 10.863636363636362, 13.172727272727272, 21.71818181818182]

In [177]:
def cambiar(dolar):
    for j in range(len(dolar)):
        dolar[j] = dolar[j]/1.1
    return dolar

In [178]:
cambiar(precios_dolar)

[9.836363636363636, 10.863636363636362, 13.172727272727272, 21.71818181818182]

# Diccionarios

Un diccionaro es un objeto que nos proporciona un listado ``<clave> :<valor>``

``
nombre_diccionario = {'clave_1': valor_1,
                      'clave_2': valor_2 ...}
``

In [179]:
registro_dic = {'Carlos': 12,
               'Jhon': 13,
               'Luisa':15,
               'Verónica': 18}

In [180]:
registro_dic['Carlos']

12

In [181]:
nom_alumnos = ['Carlos','Jhon','Luisa','Verónica']
notas = [12,13,15,18]

In [182]:
nom_alumnos_luisa = nom_alumnos.index('Luisa')
nom_alumnos_luisa

2

In [183]:
notas[nom_alumnos_luisa]

15

## Convertir listas en diccionarios

In [184]:
mercados = ['La Victorio','Huamantanga','Santa Anita','San José']

In [185]:
desperdicios = [47000, 120000,32000, 50000]

In [186]:
dic_desperdcio = dict(zip(mercados,desperdicios))

In [187]:
dic_desperdcio

{'La Victorio': 47000,
 'Huamantanga': 120000,
 'Santa Anita': 32000,
 'San José': 50000}

In [188]:
dic_notas = dict(zip(nom_alumnos,notas))

In [189]:
dic_notas

{'Carlos': 12, 'Jhon': 13, 'Luisa': 15, 'Verónica': 18}

In [191]:
dic_desperdcio['Santa Anita']

32000

In [193]:
list(zip(mercados, desperdicios))

[('La Victorio', 47000),
 ('Huamantanga', 120000),
 ('Santa Anita', 32000),
 ('San José', 50000)]

# Operadores Lógicos

## Comparadores
|Comparador|Significado|
|-|-|
|<|Menor que|
|>|Mayor que|
|<=|Menor o igual que|
|>=|Mayor o igual que|
|==|igual que|
|!=|No igual que|

## Booleanos
|bool|Significado|
|-|-|
|and|Retorna verdadero si ambas condiciones son verdaderas|
|or|Retorna verdadero si algunas o ambas condiciones son verdaderas|
|not|Retorna verdadero si la condición es falsa y viceversa|

# Operadores de decisión
Usaremos ``if`` cuando queremos comprobar una determinada condición

In [207]:
score = -0.1

if (score >= 0 and score < 0.2) :
    print('Rojo')
else:
    if (score >= 0.2 and score < 0.8):
        print('Amarillo')
    else:
        if (score >= 0.8 and score < 1):
            print('Verde')
        else:
            print('El score no es válido')

El score no es válido

In [212]:
score = 0.9
if (score >= 0 and score < 0.2) :
    print('Rojo')
elif (score >= 0.2 and score < 0.8):
    print('Amarillo')
elif (score >= 0.8 and score < 1):
    print('Verde')
else:
    print('El score no es válido')

Verde

# Bucles

## While
La lógica ``while`` es que, mientras la condición sea verdaddera, continuaremos realizando la repetición

In [215]:
i = 10
while i > 0: 
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1

<div class="alert alert-block alert-danger">
<b>Nota:</b> Tener cuidado con los bucles infinitos
</div>

### Ejemplito
Contabilizar cuántas vocales hay en ``"Aprenderás python en naylamp y tendrás tu certificado"``

In [220]:
texto = 'Aprenderás python en naylamp y tendrás tu certificado'

i = 0
contador = 0

while i < len(texto):
    if texto[i] == 'a' or texto[i] == 'e' or texto[i] == 'i' or texto[i] == 'o' or texto[i] == 'u':
        contador = contador +1    
    i = i + 1 
    
    
print('El texto tiene {} vocales'.format(contador))

El texto tiene 13 vocales

# For 
En ``for``, para todos elemtnos de la clave, seguiremos realizando las líenas del bucle

In [222]:
for i in range(3):
    print(i)

0
1
2

In [225]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [227]:
for i in range(2,6):
    print(i)

2
3
4
5

## Ejemplito

In [233]:
nombres = ['Carlos','Luisa', 'Estefany']
notas = [[15,12,11],
         [11,10,20],
         [5,20,18]]

In [237]:
for i in range(len(nombres)):
    print('las notas de {} son: '.format(nombres[i]))
    for j in range(len(notas)):
        print('nota: {}'.format(notas[i][j]))

las notas de Carlos son:
nota: 15
nota: 12
nota: 11
las notas de Luisa son:
nota: 11
nota: 10
nota: 20
las notas de Estefany son:
nota: 5
nota: 20
nota: 18

In [238]:
import pandas as pd

In [240]:
dataframe = pd.read_csv('test.csv')

In [241]:
dataframe

,Year_Factor,State_Factor,building_class,facility_type,floor_area,year_built,energy_star_rating,ELEVATION,january_min_temp,january_avg_temp,...,days_below_0F,days_above_80F,days_above_90F,days_above_100F,days_above_110F,direction_max_wind_speed,direction_peak_wind_speed,max_wind_speed,days_with_fog,id
0,7,State_1,Commercial,Grocery_store_or_food_market,28484.0,1994.0,37.0,2.4,38,50.596774,...,0,29,5,2,0,NaN,NaN,NaN,NaN,75757
1,7,State_1,Commercial,Grocery_store_or_food_market,21906.0,1961.0,55.0,45.7,38,50.596774,...,0,29,5,2,0,NaN,NaN,NaN,NaN,75758
2,7,State_1,Commercial,Grocery_store_or_food_market,16138.0,1950.0,1.0,59.1,38,50.596774,...,0,29,5,2,0,NaN,NaN,NaN,NaN,75759
3,7,State_1,Commercial,Grocery_store_or_food_market,97422.0,1971.0,34.0,35.4,38,50.596774,...,0,29,5,2,0,NaN,NaN,NaN,NaN,75760
4,7,State_1,Commercial,Grocery_store_or_food_market,61242.0,1942.0,35.0,1.8,38,50.596774,...,0,29,5,2,0,340.0,330.0,22.8,126.0,75761
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9700,7,State_11,Residential,5plus_Unit_Building,305925.0,2013.0,99.0,812.0,21,38.661290,...,0,39,3,0,0,NaN,NaN,NaN,NaN,85457
9701,7,State_11,Residential,5plus_Unit_Building,34909.0,1910.0,94.0,26.5,21,38.661290,...,0,39,3,0,0,NaN,NaN,NaN,NaN,85458
9702,7,State_11,Residential,5plus_Unit_Building,42393.0,2014.0,94.0,812.0,21,38.661290,...,0,39,3,0,0,NaN,NaN,NaN,NaN,85459
9703,7,State_11,Residential,5plus_Unit_Building,25368.0,1992.0,79.0,812.0,21,38.661290,...,0,39,3,0,0,NaN,NaN,NaN,NaN,85460
9704,7,State_11,Residential,5plus_Unit_Building,45640.0,1994.0,87.0,26.5,21,38.661290,...,0,39,3,0,0,NaN,NaN,NaN,NaN,85461

In [247]:
lista = [1,2,3,4]
lista = lista[1:]
lista_2 = [1,2,3]

In [248]:
diccionario = dict(zip(lista,lista_2))

In [249]:
diccionario

{2: 1, 3: 2, 4: 3}

In [261]:
diccionario = {'ID': ['x01','x02','x03'],
                'Edades': [10,20,30],
              'Sueldo':  [1000, 3000,4000 ]}

In [262]:
import pandas as pd

In [263]:
df = pd.DataFrame(diccionario)

In [254]:
df

    ID  Edades  Sueldo
0  x01      10    1000
1  x02      20    3000
2  x03      30    5000