# Variables y tipos de datos

**Variable:** Consta de un espacio en la memoria y un símbolo (nombre de la variable, identificador) que está asociado a dicho espacio

Asigmanmos los datos sin indicar de qué tipo son. Tipos de datos:
* int $\rightarrow$ Números enteros
* float $\rightarrow$ Números decimales
* str $\rightarrow$ Cadena de texto
* bool $\rightarrow$ True / False

In [68]:
a = 1 + 3
a

4

In [69]:
b = 'ASQ'
b

'ASQ'

In [70]:
c = 2.0999
c

2.0999

In [71]:
#Tipos de datos en Python
type(a), type(b), type(c)

(int, str, float)

<div class="alert alert-block alert-warning">
    <b>Nota:</b> Para referirnos a números del tipo float, basta que añadamos un punto decimal. Por ejemplo 3 (int) 3. (float), ambos representan el mismo número
</div>

<div class="alert alert-block alert-warning">
    <b>Nota:</b> Operaciones básicas usamos (+) (-) (*) (/) (**)
</div>

## Variable String

**String** : Cadena de ordenada de caracteres

In [72]:
string_1 = "Variable tipo string, comillas dobles"
string_1

'Variable tipo string, comillas dobles'

In [73]:
string_2 = 'Varialbe tipo string, comillas simples'
string_2

'Varialbe tipo string, comillas simples'

In [74]:
type(string_1), type(string_2)

(str, str)

### Comillas dentro de un string

In [75]:
comillas = 'usaremos "comillas" dentro de un string'
comillas

'usaremos "comillas" dentro de un string'

In [76]:
comillas_forzadas = 'ingresaremos una \'comilla simple\''
comillas_forzadas

"ingresaremos una 'comilla simple'"

### print y format

In [77]:
a = 'hola'
a

'hola'

In [78]:
print(a)

hola

In [79]:
nombre = 'Carlos'
edad = 22
complejo = 2 + 3j
print('Mi nombre es {} y mi edad es {} años. Yo manejo el número complejo: {}'.format(nombre,edad, complejo))

Mi nombre es Carlos y mi edad es 22 años. Yo manejo el número complejo: (2+3j)

### Substrings

In [80]:
substring = 'Estas en el curso de Python en Naylamp'

In [81]:
substring[0]

'E'

In [82]:
substring[-1]

'p'

In [83]:
substring[1:5]

'stas'

In [84]:
substring[3:]

'as en el curso de Python en Naylamp'

In [85]:
substring[:-5]

'Estas en el curso de Python en Na'

## Métodos para trabajar con Strings

In [98]:
a = '    APRENDERÁS PYTHON en Naylamp'

El método ``.lower()`` sirve para poner en minuscula toda la cadena de caracteres

In [99]:
a.lower()

'    aprenderás python en naylamp'

El método ``.upper()`` sirve para poner en maypuscua toda la cadena de caracteres

In [100]:
a.upper()

'    APRENDERÁS PYTHON EN NAYLAMP'

el método ``.count()`` se usa para contabilidar una o un conjutno de caracteres que se encuentren en el string

In [101]:
a.count('p')

1

In [102]:
a.capitalize()

'    aprenderás python en naylamp'

In [103]:
a.title()

'    Aprenderás Python En Naylamp'

In [104]:
a.replace('PYTHON', 'R')

'    APRENDERÁS R en Naylamp'

In [105]:
a.split('N')

['    APRE', 'DERÁS PYTHO', ' en ', 'aylamp']

In [125]:
a.split()

['APRENDERÁS', 'PYTHON', 'en', 'Naylamp']

El método ``.strip()`` solo elimina los espacios sobrantes del extremo izquierdo y derecho de una cadena de caracteres

In [126]:
a.strip()

'APRENDERÁS PYTHON en Naylamp'

In [128]:
a.find('E')

7

In [133]:
a.index('E')

7

In [136]:
len(a)

32

Función ``input()`` usaremos al querer ingresar un string

In [138]:
nombre = input()

Carlos Rondan Poma

In [140]:
nombre

'Carlos Rondan Poma'

In [142]:
nombre = input('Ingrese su nombre: ')
edad = int(input('Ingrese su edad : '))

Ingrese su nombre: Carlos Rondan Poma
Ingrese su edad : 22

In [143]:
print('La edad de {} es {}'.format(nombre,edad))

La edad de Carlos Rondan Poma es 22

## Ejemplo

Calcular el índice de masa corporal $IMC = \frac{Peso\ [kg]}{altura^2\ [m^2]}$

In [26]:
nombre = 'Carlos Rondan'
peso = 80
altura = 1.9 
IMC = peso/(altura**2)
print('El usuario \"{}\" con peso de {} kg y altura {} metros tiene un indice de masa corporal igual a {} kg/(m^2)'.format(nombre,
                                                                                                     peso,
                                                                                                     altura,
                                                                                                     IMC))

El usuario "Carlos Rondan" con peso de 80 kg y altura 1.9 metros tiene un indice de masa corporal igual a 22.1606648199446 kg/(m^2)

## Casting (convertir tipo de número)

In [27]:
type(8.0),type(int(8.5))

(float, int)

In [28]:
int(8.5)

8

In [29]:
type(2), type(float(2))

(int, float)

In [30]:
type(float('1'))

float

In [31]:
type(int('1'))

int

In [32]:
type(5j)

complex

<div class="alert alert-block alert-danger">
    <b>Nota:</b> Cuando usamos int() en un número flotante esta trunca al número, por ejemplo, int(8.5) $\rightarrow$ 8.  En este caso se ha truncado, por lo que, hemos perdido información
</div>

# Creación de listas
Litas: es una colección de valores de cualquier tipo

In [148]:
lista_1 = [10,20,30,40, 'Carlos']
lista_1

[10, 20, 30, 40, 'Carlos']

`` 
[10, 20, 30, 40, 'Carlos']
  0   1   2   3     4
 -5  -4  -3  -2    -1
``

Por lo tanto, si llamamos a `lista_1[3]` debería recibir de output `40`

In [149]:
lista_1[3]

40

## Cómo añadir o quitar valores de una lista
1. añadir
2. quitar

In [150]:
lista_1 = lista_1 + [1,2,3]
lista_1

[10, 20, 30, 40, 'Carlos', 1, 2, 3]

In [151]:
lista_1.append(2)
lista_1

[10, 20, 30, 40, 'Carlos', 1, 2, 3, 2]

In [152]:
lista_1.insert(5,'aqui es la voz')
lista_1

[10, 20, 30, 40, 'Carlos', 'aqui es la voz', 1, 2, 3, 2]

***

In [37]:
lista_1.remove('Carlos')
lista_1

[10, 20, 30, 40, 1, 2, 3, 2]

## Crear nuevas listas
1. Por punteros (dependientes)
2. Por la función `list()` (independientes)

In [38]:
x = [1,2,3]
x

[1, 2, 3]

In [39]:
y = x
y

[1, 2, 3]

In [40]:
y[1] = 100
x, y

([1, 100, 3], [1, 100, 3])

***

In [41]:
x = [1,2,3]
x

[1, 2, 3]

In [42]:
z = list(x)

In [43]:
z[2] = 'cambio'
x, z

([1, 2, 3], [1, 2, 'cambio'])

# Funciones 
``
def nombre_función(arg_1,arg_2):
    %codigo
    return resultado
``

In [44]:
def primera_funcion(base, exponente):
    resultado = base ** exponente
    return resultado

In [45]:
primera_funcion(2,10)

1024

In [46]:
primera_funcion(3,100)

515377520732011331036461129765621272702107522001

<div class="alert alert-block alert-warning">
<b>Nota:</b> Es posible tener argumentos flexibles o número de parámetros no determinados
</div>

``
def funcion (*args):
    %codigo
    return resultado
``

In [47]:
def flexible(*args):
    mult_todos = 1
    for n in args:
        mult_todos = mult_todos * n
    
    return mult_todos

In [48]:
flexible(1)

1

In [49]:
flexible(2,3)

6

In [50]:
flexible(2,3,4)

24

<div class="alert alert-block alert-success">
<b>función lambda:</b>  Nombre_función = lambda arg_1, arg_2 ..: código función
</div>

In [51]:
potencia = lambda base, exponente: base** exponente
potencia(2,4)

16

<div class="alert alert-block alert-info">
<b>Función map:</b> map(func, secuencia): Aplica la función a todos los elementos de una secuencia (lista, columna de dataframe, etc...)
</div>

In [52]:
lista = [4,5,2]
lista_cuadrado = map(lambda x: x**2, lista)
list(lista_cuadrado)

[16, 25, 4]

## Ejemplito

Convertir una lista de precios dólares a precios éuros

In [53]:
precios_dolar = [10.82, 11.95, 14.49, 24.95]
precios_dolar

[10.82, 11.95, 14.49, 24.95]

In [54]:
precios_euros = map(lambda x: x/1.1, precios_dolar)
list(precios_euros)

[9.836363636363636, 10.863636363636362, 13.172727272727272, 22.68181818181818]

# Diccionarios
Undiccionario es un objeto que nos proporciona un listado `<clave> : <valor>`

``
nombre_diccionario = {'clave_1': valor_1,
                      'clave_2': valor_2}
``

In [55]:
registro_dic = {'Carlos': 12,
                'Jhon' : 13,
                'Enrique': 10,
                'Verónica': 15}

In [56]:
registro_dic['Verónica']

15

La facilidad radica en usar la indexación por claves, de esta forma no dependemos del orden en el que ingresamos el registro

In [57]:
nom_alumnos = ['Carlos',
              'Jhon',
              'Enrique',
              'Verónica']
notas = [12,13,10,15]

In [58]:
indice_jhon = nom_alumnos.index('Jhon')
indice_jhon

1

In [59]:
notas[1]

13

## Convertir listas en diccionario

In [60]:
mercados = ['La victoria', 'Huamantanga','Santa Anita','San José']

In [61]:
desperdicio = [47000, 128000, 32000,50000]

In [62]:
dic_desperdicio = dict((zip(mercados,desperdicio)))

In [63]:
dic_desperdicio

{'La victoria': 47000,
 'Huamantanga': 128000,
 'Santa Anita': 32000,
 'San José': 50000}

In [64]:
dic_desperdicio['Huamantanga']

128000

# Operadores lógicos

## Comparadores
|Comparador|Significado|
|-|-|
|<|Menor que|
|>|Mayor que|
|<=|Menor o igual que|
|>=|Mayor o igual que|
|==|igual que|
|!=|No igual que|

## Booleanos
|bool|Significado|
|-|-|
|and|Retorna verdadero si ambas condiciones son verdaderas|
|or|Retorna verdadero si algunas o ambas condiciones son verdaderas|
|not|Retorna verdadero si la condición es falsa y viceversa|

# Operadores de decisión

Usaremos ``if`` cuando queremos comprobar una determinada condición

In [27]:
score =-1

if (score >= 0 and score <  0.2):
    print('rojo')
elif (score >= 0.2 and score < 0.8):
    print('amarillo')
elif (score >= 0.8 and score <= 1):
    print('verde')
else:
    print('El score {} no es válido'.format(score))

El score -1 no es válido

In [28]:
score = -1

if (score >= 0 and score <  0.2):
    print('rojo')
else:
    if (score >= 0.2 and score < 0.8):
        print('amarillo')
    else:
        if (score >= 0.8 and score <= 1):
            print('verde')
        else:
            print('El score {} no es válido'.format(score))

El score -1 no es válido

# Bucles

## While
La lógica de ``while`` es que, mientras la condición sea verdadera, continuaremos realizando la repetición

In [4]:
i = 10
while i>0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1

<div class="alert alert-block alert-danger">
<b>Nota:</b> Tener cuidado con los bucles infinitos
</div>

### Ejemplo

Contabilidar cuántas vocales hay en ``"aprenderás python en Naylamp y te servirá para redes neuronales"``

In [9]:
texto = 'aprenderás python en Naylamp y te servirá para redes neuronales'

i = 0
contador = 0
while i < len(texto):
    if texto[i] == 'a' or texto[i] == 'e' or texto[i] == 'i' or texto[i] == 'o' or texto[i] == 'u':
        contador = contador + 1
    i = i + 1
    
    
print('el texto tiene {} vocales'.format(contador))

el texto tiene 19 vocales

## For
En ``for``, para todos los elementos de la clave, seguiremos realizando las líneas de bucle

In [29]:
for i in range(3):
    print(i)

0
1
2

In [30]:
for i in range(1,3):
    print(i)

1
2

In [32]:
for i in range(1,5,2):
    print(i)

1
3

## Ejemplo

In [51]:
nombres = ['Carlos','Luisa','Estefany']
notas = [[15,12,11],
         [11,10,20],
         [5,20,18]]

for i in range(len(nombres)):
    print('Las notas de {} son: '.format(nombres[1]))
    for j in range(len(notas)):
        print('notas: {}'.format(notas[i][j]))

Las notas de Luisa son:
notas: 15
notas: 12
notas: 11
Las notas de Luisa son:
notas: 11
notas: 10
notas: 20
Las notas de Luisa son:
notas: 5
notas: 20
notas: 18

<div class="alert alert-block alert-info">
<b>Ojito:</b> Las listas son chevere
</div>

<div class="alert alert-block alert-warning">
<b>Example:</b> Use yellow boxes for examples that are not 
inside code cells, or use for mathematical formulas if needed.
</div>

<div class="alert alert-block alert-success">
<b>Up to you:</b> Use green boxes sparingly, and only for some specific 
purpose that the other boxes can't cover. For example, if you have a lot 
of related content to link to, maybe you decide to use green boxes for 
related links from each section of a notebook.
</div>

<div class="alert alert-block alert-danger">
<b>Just don't:</b> In general, avoid the red boxes. These should only be
used for actions that might cause data loss or another major issue.
</div>

***

`` 
import pandas as pd  
``